.contain-eleve {
    border: red 10px solid;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 7%;
    margin-right: 7%;
    width: auto;
    min-width: 500px;
    max-width: 1500px;
}

.eleve-descr {
    width: 450px;
    height: auto;
    text-align: left;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 2px 2px rgb(204, 125, 124, 0.4);
    background: rgb(204, 125, 124);
}

.descr {
    text-align: left;
    list-style: none;
    border-radius: 15px;
    padding: 10px;
}

.descr li {
    text-decoration: none;
}